<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# https://projects.local/todo_api/frontend/1
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?resource=$1&id=$2 [L,QSA]
# https://projects.local/todo_api/frontend/
RewriteRule ^([^/\.]+)/?$ index.php?resource=$1 [L]
</IfModule>